{% if user.is_authenticated %}
  {% include 'index.html' %}
{% else %}
  <div id="container" class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <form hx-post="{% url 'createuser' %}" id="createuserform">
        {% csrf_token %}
        <label for="email" id="create_user_email__label">
          <span id="create_user_email__label__span">Email:</span>
          <input
              type="email"
              name="email"
              id="create_user_email"
              placeholder="jose@email.com"
              required
              />
        </label>
        <label for="password" id="create_user_password__label">
          <span id="create_user_password__label__span">Password:</span>
          <input type="text" name="password" id="create_user_password" required />
        </label>
        <label for="first_name" id="create_user_first_name__label">
          <span id="create_user_first_name__label__span">First Name:</span>
          <input
              type="text"
              name="first_name"
              id="create_user_first_name"
              required
              />
        </label>
        <label for="last_name" id="create_user_last_name__label">
          <span id="create_user_last_name__label__span">First Name:</span>
          <input
              type="text"
              name="first_name"
              id="create_user_last_name"
              required
              />
        </label>
      </form>
      <div class="d-flex">
        <button
            type="submit"
            class="btn btn-success"
            onclick="htmx.trigger('#createuserform', 'submit')"
            >
            Confirm
        </button>
          <button
              hx-get="{% url 'loginform' %}"
              hx-target="#container"
              hx-swap="outerHTML"
              class="btn btn-outline-primary ms-auto"
              >
              Login
          </button>
      </div>
    </div>
  </div>
{% endif %}
