<script>
  function changePassword(obj) {
    let userEmail = "{{ user.email }}";
    encryptedValues = {
      enc: true,
    };
    getTokenThenCallback((token, csrf) => {
      for (const [field, value] of Object.entries(obj)) {
        if (!value) {
          return false;
        }
        encryptedValues[field] = token.encode(value).toString();
      }
      fetch("{% url 'password' %}", {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrf,
        },
        body: JSON.stringify(encryptedValues),
      }).then(() => {
        indexRequestWithCallback(() => {
          setTimeout(() => {
            let alertMessageEl = htmx.find("#alertmessage");
            alertMessageEl.innerText = `Password updated for ${userEmail}`;
            alertMessageEl.classList.remove("hidden");
            setTimeout(() => {
              alertMessageEl.classList.add("hidden")
            }, 3000);
          }, 500)
        });
      });
    });
  }
</script>
<div id="container" class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <h1 class="text-center">Change Password</h1>
      <form id="changepasswordform">
        <div class="mb-3">
          <input
              type="password"
              name="password"
              id="user_password"
              class="form-control"
              placeholder="New Password"
              required
              />
        </div>
      </form>
      <button
          class="btn btn-success col-12"
          hx-on:click="changePassword({
            password: htmx.find('#user_password').value
          })"
          >
          Confirm
      </button>
    </div>
  </div>
</div>
