{% extends 'base.html' %}
{% load coretags %}
{% block content %}
<div id="password_change">
  <div id="container" class="container col-xl-10 col-xxl-8 px-4 py-5">

    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <h1 class="text-center">Change Password</h1>
        <form
          id="changepasswordform"
          hx-patch="{% url 'change_password' %}"
          hx-ext="encrypted-json-enc"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-push-url="{% url 'index' %}"
          hx-target="body"
        >

          {% encryption_key %}

          <div class="mb-3">
            <input
              type="password"
              name="password"
              id="user_password"
              class="form-control"
              placeholder="New Password"
              required
            />
          </div>
          <button
              type="submit"
              class="btn btn-success col-12"
              >
              Confirm
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
