{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>DJLL</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://cdn.jsdelivr.net/npm/fernet@0.4.0/fernetBrowser.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/encrypted-json-enc.js' %}"></script>
  <script>
    function indexRequest() {
      // htmx.ajax automatically swap the html in 'target' with the HTTP response
      htmx
        .ajax("GET", "{% url 'index' %}", { target: "body" })
        .then(() => window.history.pushState(null, "", "/"));
    }
    function indexRequestWithCallback(callback) {
      htmx.ajax("GET", "{% url 'index' %}", { target: "body" }).then(() => {
        window.history.pushState(null, "", "/");
        callback();
      });
    }
    function getTokenThenCallback(callback) {
      fetch("{% url 'api_tokens' %}")
        .then((res) => res.json())
        .then((res) => {
          const secret = new fernet.Secret(res.enckey);
          const token = new fernet.Token({ secret: secret });
          if (callback) {
            callback(token, res.csrf);
          }
          return token;
        });
    }
    function logout() {
      getTokenThenCallback((token, csrf) => {
        fetch("{% url 'api_logout' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrf,
          },
          body: JSON.stringify({csrfmiddlewaretoken: csrf}),
        }).then(() => indexRequest());
      });
    }
  </script>
  <style>
    #alertmessage {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    #alertmessage.hidden {
      opacity: 0;
    }
  </style>
  <body>
    {% include 'nav.html' %}
    {% include 'partials/alertmessage.html' %}
    {% block content %} {% endblock content%}
  </body>
</html>
