<div id="container" class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div
        id="lf"
        hx-get="{% url 'loginform' %}"
        hx-target="#container"
        hx-trigger="lf-trigger"
        hidden
    ></div>
    <form
        hx-post="{% url 'logout' %}"
        hx-swap="none"
        hx-on::after-request="htmx.trigger('#lf', 'lf-trigger')"
    >
        {% csrf_token %}
        <button>Logout</button>
    </form>

    <div id="userinfo">
        <div>{{ user.email }}: {{ user.first_name }} {{ user.last_name }}</div>
        {% comment %}
        <button hx-get="{% url 'edituserform' %}">Editar</button>
        <button hx-get="{% url 'editpasswordform' %}">Alterar Password</button>
        {% endcomment %}
    </div>
</div>
