<div
  id="alertmessage"
  role="alert"
  class="
    alert
    {% if alertclass %} {{ alertclass }} {% else %} alert_success {% endif %}
    col-md-10
    mx-auto
    mt-3
    hidden
  "
>
  {% if alertmessage %} {{ alertmessage }} {% else %} _ {% endif %}
</div>

{% if alertmessage %}
  <script>
    setTimeout(() => {
      let alertMessageEl = htmx.find("#alertmessage");
      htmx.toggleClass(alertMessageEl, "hidden");
      setTimeout(() => {
        htmx.toggleClass(alertMessageEl, "hidden");
      }, 5000);
    }, 500);
  </script>
{% endif %}
