<script>
  if (window.location.pathname != "/login/") {
    window.history.pushState(null, "", "login/");
  }
</script>
<div id="container" class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form id="loginform" hx-on:submit="login(htmx.values(this));">
        <div class="mb-3">
          <label for="email" id="login_email__label" class="form-label">
            <span id="login_email__label__span">Email:</span>
          </label>
          <input
            type="email"
            name="email"
            id="login_email"
            placeholder="jose@email.com"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" id="login_password__label" class="form-label">
            <span id="login_password__label__span">Password:</span>
          </label>
          <input
            type="password"
            name="password"
            id="login_password"
            class="form-control"
            required
          />
        </div>
      </form>
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-success"
          hx-on:click="htmx.trigger('#loginform', 'submit');"
        >
          Confirm
        </button>
        <button
          type="button"
          hx-get="{% url 'user_create_form' %}"
          hx-target="#container"
          hx-swap="outerHTML"
          hx-push-url="true"
          class="btn btn-outline-primary ms-auto"
        >
          Create Account
        </button>
      </div>
    </div>
  </div>
</div>
